$black: #000;
$dark-bg: rgb(52, 51, 51);
$white: #fff;
$text-color: rgb(137, 134, 134);
$bloody-color: #f4ede5;

//family
$family: 'Archivo', sans-serif;

//media 
$small: '(min-width: 768px)';
$mobile: '(max-width: 767px)';