@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Archivo", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

p {
  font-size: 15px;
  font-weight: 500;
  color: #898686;
  margin-bottom: 15px;
}

textarea {
  border: none;
  outline: none;
  background-color: #f8f7f7;
  padding: 20px;
  width: 100%;
  height: 150px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  resize: none;
  margin-bottom: 15px;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  transition: all .3s ease-in-out;
}
button.login {
  color: #898686;
}
button.login:hover {
  text-decoration: underline;
}
button.signup {
  color: #fff;
  background-color: #000;
}
button.signup:hover {
  opacity: .8;
}
button.view-camp {
  border: 1px solid #ddd;
  color: #000;
  width: 100%;
}
button.post-comment {
  width: 100%;
}
button img {
  vertical-align: middle;
}
button i {
  margin-right: 10px;
}

a {
  font-size: 15px;
  font-weight: 600;
  color: #898686;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  position: relative;
  padding: 20px 20px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  header {
    padding: 30px 50px;
  }
  header nav {
    width: calc(100% - 120px);
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  header .menu {
    display: none !important;
  }
}
@media (max-width: 767px) {
  header {
    justify-content: space-between;
  }
  header nav {
    display: block;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    border: 1px solid #898686;
    padding: 20px;
    border-radius: 4px;
    background-color: #343333;
  }
  header nav a {
    color: #fff;
  }
  header nav .btns {
    display: block;
  }
  header nav .btns button {
    width: 100%;
    color: #fff;
  }
}
header .logo {
  margin-right: 30px;
}
header nav {
  display: none;
}
header .close {
  display: none;
}
header .close img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
header .menu img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

form {
  padding: 20px 20px;
}
@media (min-width: 768px) {
  form {
    padding: 30px 50px;
  }
}
form label {
  font-weight: 600;
  font-size: 16px;
}
form input {
  display: block;
  width: 100%;
  padding: 10px 12px;
  border: none;
  outline: none;
  background: none;
  border-radius: 4px;
  margin: 10px 0;
}
form input.field {
  background-color: #f9f8f8;
}
form input.submit {
  background-color: #000;
  color: #fff;
  text-align: center;
}
form input::placeholder {
  color: #ddd;
}
form a {
  margin-left: 10px;
  color: #06c6ec;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
form a:hover {
  text-decoration: none;
}

/*rules for the main page*/
.page {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
@media (min-width: 768px) {
  .page {
    padding: 0px 50px 30px 50px;
  }
  .page .map {
    width: 250px;
  }
  .page .aside {
    width: calc(100% - 270px);
  }
  .page .aside .info-mount .hero {
    background-image: url("../Assets/herodesk.jpg");
  }
  .page .aside .reviews .leave-review {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .page {
    flex-direction: column;
  }
  .page .map {
    order: 2;
  }
  .page .aside {
    order: 1;
    margin-bottom: 20px;
  }
}
.page .map {
  padding: 15px;
  height: fit-content;
  border: 1px solid #898686;
}
.page .map img {
  width: 100%;
}
.page .aside > div {
  padding: 15px;
  border: 1px solid #898686;
}
.page .aside .info-mount {
  margin-bottom: 15px;
}
.page .aside .info-mount .hero {
  width: 100%;
  height: 300px;
  background-image: url("../Assets/heromobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.page .aside .info-mount .info {
  margin-top: 20px;
}
.page .aside .info-mount .info .mount {
  display: flex;
  justify-content: space-between;
}
.page .aside .info-mount .info .submitted-by {
  margin-top: 20px;
}
.page .aside .reviews .review {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #898686;
}
.page .aside .reviews .review .name {
  display: flex;
  justify-content: space-between;
}
.page .aside .leave-review {
  margin-top: 20px;
}

/*sign up rules*/
@media (min-width: 768px) {
  .container {
    display: flex;
  }
  .container .form {
    width: 50%;
  }
  .container .feedback {
    height: 100vh;
    width: 50%;
    position: relative;
  }
  .container .feedback .said {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.container .feedback {
  padding: 20px 20px;
  background-color: #fdf3e5;
}
.container .feedback .said .quote {
  font-weight: 700;
  color: #000;
}
.container .feedback .said .person {
  display: flex;
  align-items: center;
}
.container .feedback .said .person img {
  vertical-align: middle;
  margin-right: 12px;
}
.container .feedback .said .person h4, .container .feedback .said .person p {
  margin: 0 !important;
}

/*rules for landing page*/
.container-page {
  padding: 60px 20px;
  display: flex;
}
@media (min-width: 768px) {
  .container-page {
    padding: 30px 50px;
  }
  .container-page .illus {
    width: 50%;
    height: 440px !important;
    background-image: url("../Assets/herodesk.jpg");
  }
  .container-page .landing-page {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .container-page {
    position: relative;
    flex-direction: column;
  }
  .container-page .illus {
    order: 1;
    margin-bottom: 20px;
  }
  .container-page .landing-page {
    order: 2;
  }
  .container-page .landing-page header {
    position: absolute;
    left: 20px;
    top: 20px;
  }
}
.container-page .landing-page header {
  padding: 0 !important;
  margin-bottom: 30px;
}
.container-page .landing-page p img {
  margin-right: 10px;
  vertical-align: middle;
}
.container-page .landing-page .partners {
  margin-top: 20px;
}
.container-page .landing-page .partners > p {
  font-weight: 700;
}
.container-page .illus {
  height: 300px;
  background-image: url("../Assets/heromobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*search form rules*/
.search-form {
  background-color: #f4ede5;
  padding: 15px;
}
@media (min-width: 768px) {
  .search-form {
    margin: 20px 50px;
  }
}
@media (max-width: 767px) {
  .search-form form input, .search-form form button {
    width: 100% !important;
  }
}
.search-form form {
  padding: 0;
}
.search-form form input {
  width: fit-content;
  display: inline-block;
}
.search-form form input.search {
  margin-right: 15px;
  font-size: 15px;
}
.search-form form input::placeholder {
  color: #898686;
}
.search-form form p a {
  display: block;
  margin-top: 20px;
  color: #898686;
}

/*rules for search not logged page*/
.gallery {
  grid-gap: 20px;
  display: grid;
  padding: 20px 20px;
}
@media (min-width: 1222px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1221px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .gallery .camp {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .gallery {
    padding: 30px 50px;
  }
}
.gallery .camp {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}
.gallery .camp .image {
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}
.gallery .camp .image img {
  border-radius: 4px;
  width: 100%;
}
.gallery .camp h5 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

/*Rules for comment section*/
.section-comment {
  margin: 50px auto;
  padding: 30px 20px;
}
@media (min-width: 768px) {
  .section-comment {
    width: fit-content;
  }
}
.section-comment h1 {
  font-size: 30px;
  margin-bottom: 25px;
}
.section-comment p {
  font-weight: 700;
  font-size: 16px;
}

/*Rules for add campground page*/
.new-camp {
  padding: 15px 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .new-camp {
    padding: 0px 50px;
    width: 500px;
  }
}
.new-camp form {
  width: 100%;
  margin: 0;
  padding: 0;
}
.new-camp form input {
  width: 100%;
}
.new-camp form textarea {
  font-size: 14px;
  font-weight: 400;
}
.new-camp form textarea::placeholder {
  color: gainsboro;
}
.new-camp form button {
  width: 100%;
}

footer {
  padding: 20px 20px;
}
@media (min-width: 768px) {
  footer {
    padding: 20px 50px;
  }
}

/*# sourceMappingURL=main.css.map */
